/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.logo{
    background-image: url("img/pngwave.png");
    width: 50px;
    height: 50px;

}

/* Schriftarten + Grösse für body bestimmen */
body {
    font-family: Helvetica Neue, Helvetic, sans-serif;
    font-size: 16px;
}

html, body {
    height: auto;
    position: relative;

}
/* Schriftarten + Grösse für body bestimmen */
#lvl0 {
    font-family: Helvetica Neue, Helvetic, sans-serif;
    font-size: 16px;
    height: auto;
    position: relative;
    margin-bottom: 7%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: auto;
    margin: 0;
    padding: 0;

}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Fusszeile */
footer {
    background-color: #555;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: auto;
}
/* Fusszeilenlink Farbe*/
a.fusszeilenlink:link {color: white;}
a.fusszeilenlink:visited {color: white;}
a.fusszeilenlink:active {color: white;}
a.fusszeilenlink:hover {color: white;}

/* Linkes Menüs*/
a.linkesmenue:link {color: black;}
a.linkesmenue:visited {color: black;}
a.linkesmenue:active {color: black;}
a.linkesmenue:hover {color: black;}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}
/* Social Media */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
}
/* Hover Effekt */
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-skype {
    background: #00aff0;
    color: white;

}

.fa-reddit {
    background: #ff5700;
    color: white;
}
/* Bild formatieren */
.hauptbild {
    background-image: url("img/img_4628.jpg");
    Width: 100%;
    Height: 300px;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
}
/* Bild als Block*/
.hauptbild img {
    display: block;
}
/* Text im Bild */
.hauptbild span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    border-top: 1px solid #ababab;
    background-color: rgba(40, 40, 40, 0.6);
    font-size: 30px;
    font-variant: petite-caps;
}
/* Links mit Himmelblau kennzeichnen */
#aktuell{
    color: skyblue;
}
/* Texte als Blocksatz anzeigen */
.blocksatz {
    text-align: justify;
    line-height: 160%;
}
/* Text links */
.fahrerseite {
    text-align: left;
}

/* mehrerer Bilder mit verschachtelten figure-Elementen */
#gallery {
    /* Erzeugt das Raster */
    display: grid;
    /* Erzeugt Rasterlemente, die zwischen 15em und einem Bruchteil des verfügbaren Platzes breit sind.*/
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    /* erzeugt einen Abstand zwischen den Rasterelementen, aber nicht aussen. */
    gap: 1em;
}
/* Erstreckt es sich aber über die gesamte Breite von der ersten bis zur letzten (-1 = von rechts gezählt) Rasterlinie */
#gallery > figcaption {
    grid-column: 1 / -1;
}

/* Positionierung der Bildunterschrift */
#gallery figure {
    /* 1. Zuerst relativ und dann absolut positionieren */
    position: relative;
}

figure img {
    /* 4. width: 100%;: sorgt dafür, dass die Bildunterschrift über die gesamte Breite geht. */
    width: 100%;
    /* 5. Damit bottom: 0; auch wirklich mit dem figure, bzw. img-Element unten bündig abschließt, muss ebenfalls img {display: block;} festgelegt werden. */
    display: block;
    opacity: 75%;
}


#gallery > figure > figcaption {
    /* 2. Hier absolute positionieren */
    position: absolute;
    /* 3. Danach wird figcaption mit bottom: 0; unten platziert. */
    bottom: 0;
    width: 100%;
    line-height: 3em;
    color: white;
    background: rgba(0,0,0,.3);
}
#gallery > figure > figcaption {
    opacity: 0;
    bottom: -3em;
    transition: all 1s ease;
}
/* Einschwebende Bildunterschrift */
#gallery > figure:hover > figcaption {
    opacity: 1;
    bottom: 0;
}
#gallery > figure.mitte > figcaption {
    width: 0;
    left: 50%;
}

#gallery > figure.rechts > figcaption {
    width: 0;
    bottom: 50%;
    left: 50%;
    overflow: hidden;
}

/* Das overflow: hidden; des figure-Element verhindert, dass die Bildunterschrift schon außerhalb des Bildes zu sehen ist. */
#gallery > figure.mitte > figcaption {
    width: 0;
    left: 50%;
}

#gallery > figure.rechts > figcaption {
    width: 0;
    bottom: 50%;
    left: 50%;
    overflow: hidden;
}

/* Fragezeichen */
#gallery figure::before {
    content: "?";
    position: absolute;
    bottom: 1em;
    left: 1em;
    background: white;
    color: black;
    opacity: .7;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    transition: all 1s ease;
}

#gallery figure:hover:before {
    opacity: 0;
}

/* Portfolio Gallery with Filtering */
body {
    background-color: #f1f1f1;
}

/* Center website */
h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #666;
    color: white;
}
.gallerie {
    width:100%
}

/* Bild im Text */
dl.bildunterschrift {
    float: right;
    margin-left: 2%;
    position: relative;
    /* Bildunterschrift */
}
dl.bildunterschrift dd {
    margin:0;
    font-size:80%;
}
.wiki{
    border: 2px solid #F0F0F0;
    margin: 1em auto;
    padding:1em 1em;
    max-width:50em;
    border-radius:.2em;
}
.wikibild{
    display:block;
    flex:0 0 auto;
    flex-direction: column;
    justify-content: center;
    padding-right:1em;
    float: left;
}
/* Image Gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Sprungmarken zum Seitenanfang */
a[href^="#"] {
    margin: 10px;
    /* Formatierungen für seiteninterne Verweise */
}
a[href^="#"]:before{
}
a[href^="#top"]:before{
    content:'➡';
    display: inline-block;
    color:#e04c32;
    font-size: 1.5em;
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
/* iFrame Rand */
.iframeb{
    border:none;
}
.fraumaske{
    Width: 60%;
    Height: 60%;
    background-position: center;
    background-size: cover;
}

/* CSS clear Property */
p.clear {
    clear: both;
}
